*{
	margin:0;
	padding: 0;
	font-family:"微软雅黑";
}

a:hover{
	text-decoration:none;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.nopadding{
	padding: 0px !important;
}
.block{
  display: block;
  height: 100%;
  width: 100%;
}
.none{
	display: none;
}
ul li{
	list-style-type: none;
}
ol li{
	list-style-type: none;
}
a {
  outline-style: none;
  text-decoration: none;
}
.pointer{
	cursor:pointer;
}
.opacity0{
 filter:alpha(opacity=0);
 -moz-opacity:0;
 opacity: 0;
}

.clearfix:after{
	clear:both; content:"";
	display:block;
}
em,i{
	font-style: normal;
}
.text-overflow{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.text-indent{
	text-indent:2em;
}
.no-style{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
body .padding-left-no{
	padding-left:0px;
}
input,button,select,textarea{outline:none;}
